ul {
  padding-right: 40px;
}

ol {
  padding-right: 40px;
}

.logo {
  display: inline-block;
  height: 100px;
  width: 100px;
}

.avatar {
  &.big {
    width: 10em;
    height: 10em;
  }

  &.medium {
    width: 3em;
    height: 3em;
  }

  &.compact {
    margin-left: -10px;
  }
}

.header {
  margin: 10%
}

#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > li {
  margin-right: 0.3em;
}

#page-numbers > li:active {
  font-weight: bolder;
}